.gpt3_brand{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-between;
}

.gpt3_brand div{
    flex: 1;
    max-width: 120px;
    text-align: center;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.gpt3_brand h2{
    font-family: var(--font-family);
    font-size: 40px;
    cursor: pointer;
}

@media screen and (max-width:1050px) {
    .gpt3_brand h2{
        font-size: 20px;
    }
}